.title{
    color:#0D0D0D;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left{
        max-width: 889px;
        color: #FFFFFF;
        font-size: 36px;
        line-height: 54px;
        text-align: left;
        
    }
}